<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer_2_1.png</key>
            <dict>
                <key>height</key>
                <integer>196</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>256</integer>
                <key>x</key>
                <integer>260</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>layer_2_10.png</key>
            <dict>
                <key>height</key>
                <integer>112</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>7</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>62</integer>
                <key>x</key>
                <integer>940</integer>
                <key>y</key>
                <integer>498</integer>
            </dict>
            <key>layer_2_11.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>8</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>48</integer>
                <key>x</key>
                <integer>970</integer>
                <key>y</key>
                <integer>234</integer>
            </dict>
            <key>layer_2_12.png</key>
            <dict>
                <key>height</key>
                <integer>212</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>5</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>232</integer>
            </dict>
            <key>layer_2_13.png</key>
            <dict>
                <key>height</key>
                <integer>92</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>74</integer>
                <key>x</key>
                <integer>940</integer>
                <key>y</key>
                <integer>404</integer>
            </dict>
            <key>layer_2_14.png</key>
            <dict>
                <key>height</key>
                <integer>120</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>344</integer>
                <key>y</key>
                <integer>402</integer>
            </dict>
            <key>layer_2_15.png</key>
            <dict>
                <key>height</key>
                <integer>90</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>4</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>672</integer>
                <key>y</key>
                <integer>368</integer>
            </dict>
            <key>layer_2_16.png</key>
            <dict>
                <key>height</key>
                <integer>196</integer>
                <key>offsetX</key>
                <real>8</real>
                <key>offsetY</key>
                <real>-11</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>240</integer>
                <key>x</key>
                <integer>518</integer>
                <key>y</key>
                <integer>170</integer>
            </dict>
            <key>layer_2_17.png</key>
            <dict>
                <key>height</key>
                <integer>180</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-7</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>180</integer>
                <key>x</key>
                <integer>758</integer>
                <key>y</key>
                <integer>404</integer>
            </dict>
            <key>layer_2_18.png</key>
            <dict>
                <key>height</key>
                <integer>168</integer>
                <key>offsetX</key>
                <real>23</real>
                <key>offsetY</key>
                <real>22</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>208</integer>
                <key>x</key>
                <integer>760</integer>
                <key>y</key>
                <integer>234</integer>
            </dict>
            <key>layer_2_2.png</key>
            <dict>
                <key>height</key>
                <integer>80</integer>
                <key>offsetX</key>
                <real>4</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>96</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>446</integer>
            </dict>
            <key>layer_2_3.png</key>
            <dict>
                <key>height</key>
                <integer>82</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>54</integer>
                <key>x</key>
                <integer>672</integer>
                <key>y</key>
                <integer>460</integer>
            </dict>
            <key>layer_2_4.png</key>
            <dict>
                <key>height</key>
                <integer>228</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>256</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>layer_2_5.png</key>
            <dict>
                <key>height</key>
                <integer>166</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>6</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>246</integer>
                <key>x</key>
                <integer>518</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>layer_2_6.png</key>
            <dict>
                <key>height</key>
                <integer>76</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>214</integer>
                <key>y</key>
                <integer>402</integer>
            </dict>
            <key>layer_2_7.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>244</integer>
                <key>x</key>
                <integer>766</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>layer_2_8.png</key>
            <dict>
                <key>height</key>
                <integer>200</integer>
                <key>offsetX</key>
                <real>5</real>
                <key>offsetY</key>
                <real>-12</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>226</integer>
                <key>x</key>
                <integer>260</integer>
                <key>y</key>
                <integer>200</integer>
            </dict>
            <key>layer_2_9.png</key>
            <dict>
                <key>height</key>
                <integer>178</integer>
                <key>offsetX</key>
                <real>5</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>182</integer>
                <key>x</key>
                <integer>488</integer>
                <key>y</key>
                <integer>368</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>gfx_paralax_2.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f6f2e0ced4506ccd9c3f4bad2dd83f1$</string>
            <key>textureFileName</key>
            <string>gfx_paralax_2.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1024</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
