<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flasher.png</key>
            <dict>
                <key>height</key>
                <integer>312</integer>
                <key>offsetX</key>
                <real>10</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>512</integer>
                <key>originalWidth</key>
                <integer>512</integer>
                <key>width</key>
                <integer>318</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>height_1000.png</key>
            <dict>
                <key>height</key>
                <integer>182</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>21</real>
                <key>originalHeight</key>
                <integer>512</integer>
                <key>originalWidth</key>
                <integer>640</integer>
                <key>width</key>
                <integer>630</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>316</integer>
            </dict>
            <key>height_1000_active.png</key>
            <dict>
                <key>height</key>
                <integer>244</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>-11</real>
                <key>originalHeight</key>
                <integer>512</integer>
                <key>originalWidth</key>
                <integer>640</integer>
                <key>width</key>
                <integer>630</integer>
                <key>x</key>
                <integer>322</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>gfx_heightLabels-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d4d693360d9dc9c7ec115f2c5de7ac4$</string>
            <key>textureFileName</key>
            <string>gfx_heightLabels-hd.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>512</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
