<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer_1_1.png</key>
            <dict>
                <key>height</key>
                <integer>114</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>260</integer>
                <key>y</key>
                <integer>158</integer>
            </dict>
            <key>layer_1_2.png</key>
            <dict>
                <key>height</key>
                <integer>112</integer>
                <key>offsetX</key>
                <real>8</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>338</integer>
                <key>y</key>
                <integer>158</integer>
            </dict>
            <key>layer_1_3.png</key>
            <dict>
                <key>height</key>
                <integer>154</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>238</integer>
                <key>x</key>
                <integer>260</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>layer_1_4.png</key>
            <dict>
                <key>height</key>
                <integer>232</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-12</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>256</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>layer_1_5.png</key>
            <dict>
                <key>height</key>
                <integer>108</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>54</integer>
                <key>x</key>
                <integer>404</integer>
                <key>y</key>
                <integer>158</integer>
            </dict>
            <key>layer_1_6.png</key>
            <dict>
                <key>height</key>
                <integer>228</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>256</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>236</integer>
            </dict>
            <key>layer_1_7.png</key>
            <dict>
                <key>height</key>
                <integer>196</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>256</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>466</integer>
            </dict>
            <key>layer_1_8.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>8</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>48</integer>
                <key>x</key>
                <integer>460</integer>
                <key>y</key>
                <integer>158</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>gfx_paralax_1.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34a126e6d47e7f777d00a99d1e3a883d$</string>
            <key>textureFileName</key>
            <string>gfx_paralax_1.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1024</integer>
            <key>width</key>
            <integer>512</integer>
        </dict>
    </dict>
</plist>
