<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cell_1_1.jpg</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>132</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>cell_1_2.jpg</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>262</integer>
            </dict>
            <key>cell_1_3.jpg</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>132</integer>
            </dict>
            <key>cell_1_4.jpg</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>cell_2.jpg</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>264</integer>
                <key>y</key>
                <integer>132</integer>
            </dict>
            <key>cell_2_1.jpg</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>198</integer>
                <key>y</key>
                <integer>262</integer>
            </dict>
            <key>cell_3.jpg</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>198</integer>
                <key>y</key>
                <integer>132</integer>
            </dict>
            <key>cell_3_1.jpg</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>132</integer>
                <key>y</key>
                <integer>262</integer>
            </dict>
            <key>cell_4.jpg</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>132</integer>
                <key>y</key>
                <integer>132</integer>
            </dict>
            <key>cell_4_1.jpg</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>394</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>speedWallBackground_1.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>328</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>speedWallBackground_2.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>262</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>gfx_cells.jpg</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0976a27a229d1e6f77d5934fa88b2ad0$</string>
            <key>textureFileName</key>
            <string>gfx_cells.jpg</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>512</integer>
            <key>width</key>
            <integer>512</integer>
        </dict>
    </dict>
</plist>
