<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer_1_1.png</key>
            <dict>
                <key>height</key>
                <integer>114</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>178</integer>
                <key>y</key>
                <integer>236</integer>
            </dict>
            <key>layer_1_10.png</key>
            <dict>
                <key>height</key>
                <integer>236</integer>
                <key>offsetX</key>
                <real>7</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>156</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>416</integer>
            </dict>
            <key>layer_1_11.png</key>
            <dict>
                <key>height</key>
                <integer>212</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-8</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>218</integer>
                <key>x</key>
                <integer>260</integer>
                <key>y</key>
                <integer>232</integer>
            </dict>
            <key>layer_1_12.png</key>
            <dict>
                <key>height</key>
                <integer>92</integer>
                <key>offsetX</key>
                <real>5</real>
                <key>offsetY</key>
                <real>6</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>104</integer>
                <key>x</key>
                <integer>164</integer>
                <key>y</key>
                <integer>866</integer>
            </dict>
            <key>layer_1_13.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>88</integer>
                <key>x</key>
                <integer>112</integer>
                <key>y</key>
                <integer>760</integer>
            </dict>
            <key>layer_1_14.png</key>
            <dict>
                <key>height</key>
                <integer>220</integer>
                <key>offsetX</key>
                <real>6</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>108</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>654</integer>
            </dict>
            <key>layer_1_15.png</key>
            <dict>
                <key>height</key>
                <integer>178</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>174</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>236</integer>
            </dict>
            <key>layer_1_16.png</key>
            <dict>
                <key>height</key>
                <integer>120</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>118</integer>
                <key>x</key>
                <integer>758</integer>
                <key>y</key>
                <integer>224</integer>
            </dict>
            <key>layer_1_17.png</key>
            <dict>
                <key>height</key>
                <integer>106</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>104</integer>
                <key>x</key>
                <integer>58</integer>
                <key>y</key>
                <integer>876</integer>
            </dict>
            <key>layer_1_18.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>102</integer>
                <key>x</key>
                <integer>112</integer>
                <key>y</key>
                <integer>654</integer>
            </dict>
            <key>layer_1_2.png</key>
            <dict>
                <key>height</key>
                <integer>154</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>238</integer>
                <key>x</key>
                <integer>518</integer>
                <key>y</key>
                <integer>172</integer>
            </dict>
            <key>layer_1_3.png</key>
            <dict>
                <key>height</key>
                <integer>112</integer>
                <key>offsetX</key>
                <real>8</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>178</integer>
                <key>y</key>
                <integer>352</integer>
            </dict>
            <key>layer_1_4.png</key>
            <dict>
                <key>height</key>
                <integer>232</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-12</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>256</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>layer_1_5.png</key>
            <dict>
                <key>height</key>
                <integer>108</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>54</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>876</integer>
            </dict>
            <key>layer_1_6.png</key>
            <dict>
                <key>height</key>
                <integer>228</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>256</integer>
                <key>x</key>
                <integer>260</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>layer_1_7.png</key>
            <dict>
                <key>height</key>
                <integer>220</integer>
                <key>offsetX</key>
                <real>6</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>244</integer>
                <key>x</key>
                <integer>772</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>layer_1_8.png</key>
            <dict>
                <key>height</key>
                <integer>168</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>252</integer>
                <key>x</key>
                <integer>518</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>layer_1_9.png</key>
            <dict>
                <key>height</key>
                <integer>220</integer>
                <key>offsetX</key>
                <real>6</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>108</integer>
                <key>x</key>
                <integer>878</integer>
                <key>y</key>
                <integer>224</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>gfx_paralax_1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afe3a04eafed0146e078e6e843399664$</string>
            <key>textureFileName</key>
            <string>gfx_paralax_1.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1024</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
