<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dino_zzzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,394},{342,244}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{342,244}}</string>
                <key>sourceSize</key>
                <string>{352,282}</string>
            </dict>
            <key>btnBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1108},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>btnBackDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1176},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>btnBuy15Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,853},{178,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{178,106}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnBuy15Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,712},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnBuy5Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,746},{178,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{178,106}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnBuy5Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,707},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnBuyInfinityDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,639},{178,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{178,106}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnBuyInfinityUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,601},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnGiftDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,818},{178,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{178,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnGiftUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,596},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnLike_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1070},{105,105}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{105,105}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnLike_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1009},{111,107}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{111,107}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,991},{113,111}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{113,111}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnMenuChecked.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,897},{113,111}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{113,111}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnMenuCheckedDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,999},{101,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{101,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnMenuDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,999},{101,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{101,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnMusicOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1029},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>btnMusicOffDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1174},{74,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>btnMusicOffSlider.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,791},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnMusicOffSliderDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,661},{64,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnMusicOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1016},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>btnMusicOnDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1183},{74,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>btnMusicOnSlider.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,960},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnMusicOnSliderDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1160},{58,54}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{58,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnNo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,960},{113,109}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{113,109}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnNoDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,929},{101,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{101,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnOk.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,871},{113,109}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{113,109}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnOkDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,981},{101,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{101,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnPause.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1095},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>btnPauseDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1117},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>btnPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,433},{169,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,170}}</string>
                <key>sourceSize</key>
                <string>{169,170}</string>
            </dict>
            <key>btnPlayDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,823},{175,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,176}}</string>
                <key>sourceSize</key>
                <string>{175,176}</string>
            </dict>
            <key>btnPlayPauseScreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1029},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>btnPlayPauseScreenDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1103},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>btnReset.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1023},{62,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnResetDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1148},{54,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{54,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnRestart.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1086},{72,75}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>btnRestartDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1162},{73,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>btnSetting.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,1099},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>btnSettingChecked.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,759},{113,111}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{113,111}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnSettingCheckedDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,929},{101,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{101,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnSettingDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1249},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>btnShop.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1081},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>btnShopDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1238},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>btnSound.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1163},{74,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>btnSoundDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,937},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>btnSoundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,856},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>btnSoundOffDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1108},{74,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>btnSoundSlide.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,726},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnSoundSlideDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,596},{64,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnSoundSlideOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1098},{64,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnSoundSlideOffDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1099},{64,48}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btn_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,1156},{60,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>btn_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1029},{68,54}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{68,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>exclamation_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1099},{62,56}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{62,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gui_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,0},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>iconFacebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,680},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>iconTwitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,601},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>icon_upgrade_0.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{308,862},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>icon_upgrade_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{179,768},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>icon_upgrade_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{308,733},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>icon_upgrade_3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{179,639},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>icon_upgrade_4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{343,604},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>icon_upgrade_5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{384,304},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>improved_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,349},{240,246}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{240,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>levelFinishScreenTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,0},{476,348}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{476,348}}</string>
                <key>sourceSize</key>
                <string>{512,404}</string>
            </dict>
            <key>pause_zzz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,349},{270,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{270,124}}</string>
                <key>sourceSize</key>
                <string>{272,128}</string>
            </dict>
            <key>pause_zzz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,474},{268,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{268,126}}</string>
                <key>sourceSize</key>
                <string>{272,128}</string>
            </dict>
            <key>slideLeftMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,304},{89,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,383}}</string>
                <key>sourceSize</key>
                <string>{89,383}</string>
            </dict>
            <key>window_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,303}}</string>
                <key>sourceSize</key>
                <string>{512,303}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gfx_gui-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c61158880e36a3e467b24f18cb33c79$</string>
            <key>textureFileName</key>
            <string>gfx_gui-hd.png</string>
        </dict>
    </dict>
</plist>
