<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_player_flayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,0},{302,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{302,218}}</string>
                <key>sourceSize</key>
                <string>{320,218}</string>
            </dict>
            <key>btnBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,390},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnBackDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,540},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnBuy15Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,108},{88,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,53}}</string>
                <key>sourceSize</key>
                <string>{90,55}</string>
            </dict>
            <key>btnBuy15Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,432},{90,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,55}}</string>
                <key>sourceSize</key>
                <string>{90,55}</string>
            </dict>
            <key>btnBuy5Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,54},{88,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,53}}</string>
                <key>sourceSize</key>
                <string>{90,55}</string>
            </dict>
            <key>btnBuy5Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,376},{90,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,55}}</string>
                <key>sourceSize</key>
                <string>{90,55}</string>
            </dict>
            <key>btnBuyInfinityDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,0},{88,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,53}}</string>
                <key>sourceSize</key>
                <string>{90,55}</string>
            </dict>
            <key>btnBuyInfinityUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,331},{90,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,55}}</string>
                <key>sourceSize</key>
                <string>{90,55}</string>
            </dict>
            <key>btnGiftDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,275},{90,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,55}}</string>
                <key>sourceSize</key>
                <string>{90,55}</string>
            </dict>
            <key>btnGiftUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,219},{90,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,55}}</string>
                <key>sourceSize</key>
                <string>{90,55}</string>
            </dict>
            <key>btnLike_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,379},{52,52}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{52,52}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>btnLike_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,382},{56,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{56,54}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>btnMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,325},{56,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>btnMenuChecked.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,322},{56,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>btnMenuCheckedDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,437},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,50}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>btnMenuDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,390},{50,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{50,50}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>btnMusicOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,540},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnMusicOffDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,498},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnMusicOffSlider.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,421},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btnMusicOffSliderDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,485},{32,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btnMusicOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,498},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnMusicOnDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,488},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnMusicOnSlider.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,454},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btnMusicOnSliderDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,447},{30,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btnNo.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,488},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnNoDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,492},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnOk.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,492},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnOkDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,446},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnPause.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,470},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>btnPauseDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,441},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>btnPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,269},{106,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,94}}</string>
                <key>sourceSize</key>
                <string>{106,94}</string>
            </dict>
            <key>btnPlayDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,162},{106,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,94}}</string>
                <key>sourceSize</key>
                <string>{106,94}</string>
            </dict>
            <key>btnPlayPauseScreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,442},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{37,37}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnPlayPauseScreenDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,441},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{37,37}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnReset.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,388},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btnResetDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,516},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btnRestart.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,446},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnRestartDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,452},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnSetting.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,440},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnSettingChecked.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,265},{56,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>btnSettingCheckedDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,390},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,50}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>btnSettingDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,440},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnShop.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,388},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnShopDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,388},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnSound.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,432},{37,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>btnSoundDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,432},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnSoundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,395},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnSoundOffDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,395},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnSoundSlide.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,415},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btnSoundSlideDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,448},{32,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btnSoundSlideOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,432},{32,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btnSoundSlideOffDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,395},{32,24}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btn_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,479},{31,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{31,31}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>btn_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,387},{33,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{33,27}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>exclamation_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,479},{30,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>gui_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,219},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>iconFacebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,390},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>iconTwitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,479},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>icon_upgrade_0.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{560,387},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_upgrade_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{442,330},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_upgrade_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{377,330},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_upgrade_3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{255,325},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_upgrade_4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{190,325},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_upgrade_5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{125,325},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>improved_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,325},{120,122}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{120,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>lens_flare.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,325},{124,124}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>levelFinishScreenTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,148},{238,176}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{238,176}}</string>
                <key>sourceSize</key>
                <string>{256,202}</string>
            </dict>
            <key>pause_zzz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,325},{134,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{134,62}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>pause_zzz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,265},{134,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>sleep_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{378,324}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{378,324}}</string>
                <key>sourceSize</key>
                <string>{390,350}</string>
            </dict>
            <key>slideLeftMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,219},{45,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,192}}</string>
                <key>sourceSize</key>
                <string>{45,192}</string>
            </dict>
            <key>window_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,0},{253,147}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{253,147}}</string>
                <key>sourceSize</key>
                <string>{255,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gfx_gui.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e1540a03330583e1fe9bcb6292a4bbf$</string>
            <key>textureFileName</key>
            <string>gfx_gui.png</string>
        </dict>
    </dict>
</plist>
