<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer_1_1.png</key>
            <dict>
                <key>height</key>
                <integer>154</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>238</integer>
                <key>x</key>
                <integer>260</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>layer_1_2.png</key>
            <dict>
                <key>height</key>
                <integer>76</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>9</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>66</integer>
                <key>x</key>
                <integer>260</integer>
                <key>y</key>
                <integer>158</integer>
            </dict>
            <key>layer_1_3.png</key>
            <dict>
                <key>height</key>
                <integer>228</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>256</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>gfx_paralax_1.pvr.ccz</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5d07d404268a7826ee49c66c1b05fe7$</string>
            <key>textureFileName</key>
            <string>gfx_paralax_1.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>256</integer>
            <key>width</key>
            <integer>512</integer>
        </dict>
    </dict>
</plist>
