<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb.png</key>
            <dict>
                <key>height</key>
                <integer>110</integer>
                <key>offsetX</key>
                <real>7</real>
                <key>offsetY</key>
                <real>9</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>108</integer>
                <key>x</key>
                <integer>386</integer>
                <key>y</key>
                <integer>338</integer>
            </dict>
            <key>bomb_circle.png</key>
            <dict>
                <key>height</key>
                <integer>90</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>90</integer>
                <key>originalWidth</key>
                <integer>90</integer>
                <key>width</key>
                <integer>90</integer>
                <key>x</key>
                <integer>332</integer>
                <key>y</key>
                <integer>450</integer>
            </dict>
            <key>bombfire.png</key>
            <dict>
                <key>height</key>
                <integer>108</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>112</integer>
                <key>x</key>
                <integer>276</integer>
                <key>y</key>
                <integer>114</integer>
            </dict>
            <key>bombmagnet_1.png</key>
            <dict>
                <key>height</key>
                <integer>110</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>9</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>112</integer>
                <key>x</key>
                <integer>390</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>bombmagnet_2.png</key>
            <dict>
                <key>height</key>
                <integer>110</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>9</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>112</integer>
                <key>x</key>
                <integer>276</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>bombtime_1.png</key>
            <dict>
                <key>height</key>
                <integer>118</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>104</integer>
                <key>x</key>
                <integer>112</integer>
                <key>y</key>
                <integer>460</integer>
            </dict>
            <key>bombtime_2.png</key>
            <dict>
                <key>height</key>
                <integer>118</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>108</integer>
                <key>x</key>
                <integer>276</integer>
                <key>y</key>
                <integer>224</integer>
            </dict>
            <key>bombtime_3.png</key>
            <dict>
                <key>height</key>
                <integer>118</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>108</integer>
                <key>x</key>
                <integer>390</integer>
                <key>y</key>
                <integer>218</integer>
            </dict>
            <key>bonus_apocalypse.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>188</integer>
                <key>y</key>
                <integer>600</integer>
            </dict>
            <key>bonus_godmode.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>614</integer>
            </dict>
            <key>bonus_godmode_1.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>424</integer>
                <key>y</key>
                <integer>582</integer>
            </dict>
            <key>bonus_speed.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>424</integer>
                <key>y</key>
                <integer>516</integer>
            </dict>
            <key>boots_1.png</key>
            <dict>
                <key>height</key>
                <integer>40</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>92</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>572</integer>
            </dict>
            <key>boots_2.png</key>
            <dict>
                <key>height</key>
                <integer>40</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>96</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>530</integer>
            </dict>
            <key>boots_3.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>110</integer>
                <key>x</key>
                <integer>390</integer>
                <key>y</key>
                <integer>166</integer>
            </dict>
            <key>boots_4.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>-7</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>112</integer>
                <key>x</key>
                <integer>390</integer>
                <key>y</key>
                <integer>114</integer>
            </dict>
            <key>boots_5.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>142</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>198</integer>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>424</integer>
                <key>y</key>
                <integer>450</integer>
            </dict>
            <key>helmet_1.png</key>
            <dict>
                <key>height</key>
                <integer>54</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>90</integer>
                <key>x</key>
                <integer>96</integer>
                <key>y</key>
                <integer>580</integer>
            </dict>
            <key>helmet_2.png</key>
            <dict>
                <key>height</key>
                <integer>54</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>90</integer>
                <key>x</key>
                <integer>218</integer>
                <key>y</key>
                <integer>544</integer>
            </dict>
            <key>helmet_3.png</key>
            <dict>
                <key>height</key>
                <integer>60</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>90</integer>
                <key>x</key>
                <integer>332</integer>
                <key>y</key>
                <integer>542</integer>
            </dict>
            <key>helmet_4.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>96</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>464</integer>
            </dict>
            <key>helmet_5.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>142</integer>
                <key>width</key>
                <integer>142</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>player_1.png</key>
            <dict>
                <key>height</key>
                <integer>98</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>108</integer>
                <key>x</key>
                <integer>222</integer>
                <key>y</key>
                <integer>444</integer>
            </dict>
            <key>player_2.png</key>
            <dict>
                <key>height</key>
                <integer>98</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>108</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>364</integer>
            </dict>
            <key>player_3.png</key>
            <dict>
                <key>height</key>
                <integer>98</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>108</integer>
                <key>x</key>
                <integer>112</integer>
                <key>y</key>
                <integer>360</integer>
            </dict>
            <key>player_bonus_apocalipsys.png</key>
            <dict>
                <key>height</key>
                <integer>98</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>108</integer>
                <key>x</key>
                <integer>230</integer>
                <key>y</key>
                <integer>344</integer>
            </dict>
            <key>player_sleep_1.png</key>
            <dict>
                <key>height</key>
                <integer>98</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>108</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>264</integer>
            </dict>
            <key>player_speed.png</key>
            <dict>
                <key>height</key>
                <integer>98</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>108</integer>
                <key>x</key>
                <integer>120</integer>
                <key>y</key>
                <integer>260</integer>
            </dict>
            <key>playerglow.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>68</integer>
            </dict>
            <key>wall.png</key>
            <dict>
                <key>height</key>
                <integer>256</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>146</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>gfx_chars-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bf14000b0ae48581bc22df44d6dee89$</string>
            <key>textureFileName</key>
            <string>gfx_chars-hd.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1024</integer>
            <key>width</key>
            <integer>512</integer>
        </dict>
    </dict>
</plist>
