<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_circle.png</key>
            <dict>
                <key>height</key>
                <integer>90</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>90</integer>
                <key>originalWidth</key>
                <integer>90</integer>
                <key>width</key>
                <integer>90</integer>
                <key>x</key>
                <integer>94</integer>
                <key>y</key>
                <integer>190</integer>
            </dict>
            <key>bonus_apocalypse.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>324</integer>
            </dict>
            <key>bonus_armor.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>90</integer>
                <key>y</key>
                <integer>282</integer>
            </dict>
            <key>bonus_fire.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>186</integer>
                <key>y</key>
                <integer>256</integer>
            </dict>
            <key>bonus_speed.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>186</integer>
                <key>y</key>
                <integer>190</integer>
            </dict>
            <key>player.png</key>
            <dict>
                <key>height</key>
                <integer>94</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>100</integer>
                <key>originalWidth</key>
                <integer>100</integer>
                <key>width</key>
                <integer>96</integer>
                <key>x</key>
                <integer>132</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>player_armor_1.png</key>
            <dict>
                <key>height</key>
                <integer>98</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>100</integer>
                <key>originalWidth</key>
                <integer>100</integer>
                <key>width</key>
                <integer>86</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>224</integer>
            </dict>
            <key>player_armor_2.png</key>
            <dict>
                <key>height</key>
                <integer>90</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>90</integer>
                <key>originalWidth</key>
                <integer>90</integer>
                <key>width</key>
                <integer>90</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>132</integer>
            </dict>
            <key>player_armor_3.png</key>
            <dict>
                <key>height</key>
                <integer>90</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>90</integer>
                <key>originalWidth</key>
                <integer>90</integer>
                <key>width</key>
                <integer>90</integer>
                <key>x</key>
                <integer>132</integer>
                <key>y</key>
                <integer>98</integer>
            </dict>
            <key>playerglow.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>gfx_chars-hd.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a31ae5dfc8dfe472f873c6bb682cb849$</string>
            <key>textureFileName</key>
            <string>gfx_chars-hd.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>512</integer>
            <key>width</key>
            <integer>256</integer>
        </dict>
    </dict>
</plist>
