<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>speedWallBackground_1.jpg</key>
            <dict>
                <key>height</key>
                <integer>480</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>480</integer>
                <key>originalWidth</key>
                <integer>320</integer>
                <key>width</key>
                <integer>320</integer>
                <key>x</key>
                <integer>1</integer>
                <key>y</key>
                <integer>1</integer>
            </dict>
            <key>speedWallBackground_2.jpg</key>
            <dict>
                <key>height</key>
                <integer>480</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>480</integer>
                <key>originalWidth</key>
                <integer>320</integer>
                <key>width</key>
                <integer>320</integer>
                <key>x</key>
                <integer>323</integer>
                <key>y</key>
                <integer>1</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>gfx_cells-hd.jpg</string>
            <key>size</key>
            <string>{644,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:305e107c670bf84efa2bad78d5f1ab39$</string>
            <key>textureFileName</key>
            <string>gfx_cells-hd.jpg</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>482</integer>
            <key>width</key>
            <integer>644</integer>
        </dict>
    </dict>
</plist>
