<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_player_flayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,653},{604,436}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{604,436}}</string>
                <key>sourceSize</key>
                <string>{640,436}</string>
            </dict>
            <key>btnBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1506},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>btnBackDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1403},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>btnBuy15Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1719},{178,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{178,106}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnBuy15Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,922},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnBuy5Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1540},{178,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{178,106}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnBuy5Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,605},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnBuyInfinityDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1361},{178,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{178,106}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnBuyInfinityUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1865},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnGiftDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,786},{178,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{178,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnGiftUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,494},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnLike_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1943},{105,105}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{105,105}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnLike_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1103},{111,107}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{111,107}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1860},{113,111}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{113,111}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnMenuChecked.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1748},{113,111}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{113,111}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnMenuCheckedDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1727},{101,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{101,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnMenuDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1727},{101,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{101,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnMusicOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1930},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>btnMusicOffDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1827},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>btnMusicOffSlider.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1609},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnMusicOffSliderDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1739},{64,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnMusicOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1624},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>btnMusicOnDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1521},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>btnMusicOnSlider.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1976},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnMusicOnSliderDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1190},{58,54}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{58,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnNo.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1418},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>btnNoDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1930},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>btnOk.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1827},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>btnOkDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1300},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>btnPause.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,798},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>btnPauseDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,569},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>btnPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1652},{212,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,187}}</string>
                <key>sourceSize</key>
                <string>{212,187}</string>
            </dict>
            <key>btnPlayDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1439},{212,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,187}}</string>
                <key>sourceSize</key>
                <string>{212,187}</string>
            </dict>
            <key>btnPlayPauseScreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1972},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{73,74}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>btnPlayPauseScreenDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,494},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{73,74}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>btnReset.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1674},{62,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnResetDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1064},{54,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{54,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnRestart.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1197},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>btnRestartDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1930},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>btnSetting.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1827},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>btnSettingChecked.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1898},{113,111}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{113,111}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnSettingCheckedDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1318},{101,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{101,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnSettingDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1624},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>btnShop.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1521},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>btnShopDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1418},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>btnSound.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,723},{74,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>btnSoundDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1094},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>btnSoundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1215},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>btnSoundOffDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1943},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>btnSoundSlide.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,873},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnSoundSlideDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1976},{64,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnSoundSlideOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,999},{64,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnSoundSlideOffDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1976},{64,48}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btn_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,938},{60,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>btn_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1037},{68,54}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{68,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>exclamation_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1127},{62,56}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{62,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gui_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,605},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>iconFacebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,644},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>iconTwitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1943},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>icon_upgrade_0.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{588,1619},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>icon_upgrade_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{588,1490},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>icon_upgrade_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{588,1361},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>icon_upgrade_3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{602,1232},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>icon_upgrade_4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{602,1103},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>icon_upgrade_5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{806,965},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>improved_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,247},{240,246}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{240,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lens_flare.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,0},{244,246}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{244,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>levelFinishScreenTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1090},{476,348}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{476,348}}</string>
                <key>sourceSize</key>
                <string>{512,404}</string>
            </dict>
            <key>pause_zzz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1090},{270,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{270,124}}</string>
                <key>sourceSize</key>
                <string>{272,128}</string>
            </dict>
            <key>pause_zzz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,653},{268,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{268,126}}</string>
                <key>sourceSize</key>
                <string>{272,128}</string>
            </dict>
            <key>sleep_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{765,652}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,43},{765,652}}</string>
                <key>sourceSize</key>
                <string>{779,700}</string>
            </dict>
            <key>slideLeftMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,653},{89,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,383}}</string>
                <key>sourceSize</key>
                <string>{89,383}</string>
            </dict>
            <key>window_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1439},{503,292}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{503,292}}</string>
                <key>sourceSize</key>
                <string>{509,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gfx_gui-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbf9d7d8e7f124f98c21825e195e109f$</string>
            <key>textureFileName</key>
            <string>gfx_gui-hd.png</string>
        </dict>
    </dict>
</plist>
