<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb.png</key>
            <dict>
                <key>height</key>
                <integer>56</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>4</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>54</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>184</integer>
            </dict>
            <key>bomb_circle.png</key>
            <dict>
                <key>height</key>
                <integer>45</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>45</integer>
                <key>originalWidth</key>
                <integer>45</integer>
                <key>width</key>
                <integer>45</integer>
                <key>x</key>
                <integer>114</integer>
                <key>y</key>
                <integer>115</integer>
            </dict>
            <key>bombmagnet_1.png</key>
            <dict>
                <key>height</key>
                <integer>56</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>4</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>56</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>126</integer>
            </dict>
            <key>bombmagnet_2.png</key>
            <dict>
                <key>height</key>
                <integer>56</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>4</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>56</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>68</integer>
            </dict>
            <key>bombtime_1.png</key>
            <dict>
                <key>height</key>
                <integer>56</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>52</integer>
                <key>x</key>
                <integer>60</integer>
                <key>y</key>
                <integer>126</integer>
            </dict>
            <key>bombtime_2.png</key>
            <dict>
                <key>height</key>
                <integer>56</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>52</integer>
                <key>x</key>
                <integer>60</integer>
                <key>y</key>
                <integer>68</integer>
            </dict>
            <key>bombtime_3.png</key>
            <dict>
                <key>height</key>
                <integer>56</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>52</integer>
                <key>x</key>
                <integer>58</integer>
                <key>y</key>
                <integer>184</integer>
            </dict>
            <key>bonus_apocalypse.png</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>168</integer>
                <key>y</key>
                <integer>36</integer>
            </dict>
            <key>bonus_armor.png</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>210</integer>
                <key>y</key>
                <integer>36</integer>
            </dict>
            <key>bonus_fire.png</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>123</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>bonus_speed.png</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>168</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>boots_1.png</key>
            <dict>
                <key>height</key>
                <integer>18</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>46</integer>
                <key>x</key>
                <integer>162</integer>
                <key>y</key>
                <integer>236</integer>
            </dict>
            <key>boots_2.png</key>
            <dict>
                <key>height</key>
                <integer>18</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>48</integer>
                <key>x</key>
                <integer>112</integer>
                <key>y</key>
                <integer>236</integer>
            </dict>
            <key>boots_3.png</key>
            <dict>
                <key>height</key>
                <integer>18</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>46</integer>
                <key>x</key>
                <integer>162</integer>
                <key>y</key>
                <integer>236</integer>
            </dict>
            <key>boots_4.png</key>
            <dict>
                <key>height</key>
                <integer>18</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>48</integer>
                <key>x</key>
                <integer>112</integer>
                <key>y</key>
                <integer>236</integer>
            </dict>
            <key>boots_5.png</key>
            <dict>
                <key>height</key>
                <integer>18</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>48</integer>
                <key>x</key>
                <integer>112</integer>
                <key>y</key>
                <integer>236</integer>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>210</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>helmet_1.png</key>
            <dict>
                <key>height</key>
                <integer>28</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>46</integer>
                <key>x</key>
                <integer>114</integer>
                <key>y</key>
                <integer>85</integer>
            </dict>
            <key>helmet_2.png</key>
            <dict>
                <key>height</key>
                <integer>28</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>46</integer>
                <key>x</key>
                <integer>114</integer>
                <key>y</key>
                <integer>55</integer>
            </dict>
            <key>player_1.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>54</integer>
                <key>x</key>
                <integer>168</integer>
                <key>y</key>
                <integer>174</integer>
            </dict>
            <key>player_2.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>54</integer>
                <key>x</key>
                <integer>161</integer>
                <key>y</key>
                <integer>122</integer>
            </dict>
            <key>player_3.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>54</integer>
                <key>x</key>
                <integer>168</integer>
                <key>y</key>
                <integer>70</integer>
            </dict>
            <key>player_bonus_apocalipsys.png</key>
            <dict>
                <key>height</key>
                <integer>51</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>55</integer>
                <key>originalWidth</key>
                <integer>55</integer>
                <key>width</key>
                <integer>53</integer>
                <key>x</key>
                <integer>68</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>player_sleep_1.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>54</integer>
                <key>x</key>
                <integer>112</integer>
                <key>y</key>
                <integer>184</integer>
            </dict>
            <key>playerglow.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>gfx_chars.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9064b88702fb3e404c864810be3e61b6$</string>
            <key>textureFileName</key>
            <string>gfx_chars.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>256</integer>
            <key>width</key>
            <integer>256</integer>
        </dict>
    </dict>
</plist>
