<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dino_zzzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,896},{342,244}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{342,244}}</string>
                <key>sourceSize</key>
                <string>{352,282}</string>
            </dict>
            <key>btnBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,1043},{113,109}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{113,109}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnBackDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,1316},{101,99}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{101,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnBuy15Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,910},{178,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{178,106}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnBuy15Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,803},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnBuy5Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,882},{178,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{178,106}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnBuy5Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,859},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnBuyDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1092},{163,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{163,107}}</string>
                <key>sourceSize</key>
                <string>{167,109}</string>
            </dict>
            <key>btnBuyInfinityDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,803},{178,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{178,106}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnBuyInfinityUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,980},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnBuyUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1026},{167,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{167,107}}</string>
                <key>sourceSize</key>
                <string>{167,109}</string>
            </dict>
            <key>btnCredits.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,1043},{64,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnCreditsBallon.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1046},{96,167}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{96,167}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>btnCreditsDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,759},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnGiftDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,935},{178,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{178,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnGiftUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,869},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>btnLevels.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,1082},{113,111}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{113,111}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnLevelsDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,1191},{99,99}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{99,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnLike_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,1194},{105,105}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{105,105}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnLike_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,1172},{111,107}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{111,107}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,994},{113,111}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{113,111}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnMenuChecked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,970},{113,111}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{113,111}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnMenuCheckedDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,1300},{101,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{101,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnMenuDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,1280},{101,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{101,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnMusicOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1286},{113,109}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{113,109}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnMusicOffDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,1253},{101,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{101,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnMusicOffSlider.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1200},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnMusicOffSliderDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,633},{64,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnMusicOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1200},{113,109}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{113,109}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnMusicOnSlider.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,1255},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnMusicOnSliderDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,262},{58,54}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{58,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnMusicdOnDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,1191},{101,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{101,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnNextLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,989},{166,111}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{166,111}}</string>
                <key>sourceSize</key>
                <string>{170,115}</string>
            </dict>
            <key>btnNextLevelDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1134},{160,107}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{160,107}}</string>
                <key>sourceSize</key>
                <string>{170,115}</string>
            </dict>
            <key>btnNo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,1211},{113,109}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{113,109}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnNoDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,1153},{101,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{101,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnOk.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1176},{113,109}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{113,109}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnOkDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,1091},{101,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{101,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnPause.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,943},{85,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,83}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>btnPauseDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,1179},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{75,75}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>btnPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,851},{199,191}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{199,191}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>btnPlayDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,914},{177,177}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{177,177}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>btnPlayPauseScreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,859},{85,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,83}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>btnPlayPauseScreenDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,1101},{77,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>btnReset.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,1106},{62,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnResetDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,199},{54,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{54,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnRestart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,882},{113,111}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{113,111}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnRestartDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,1321},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{99,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnSetting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,757},{113,111}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{113,111}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnSettingChecked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,516},{113,111}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{113,111}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnSettingCheckedDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,1091},{101,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{101,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnSettingDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,1216},{101,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{101,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnShop.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,189},{134,132}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{134,132}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>btnShopDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,883},{144,142}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{144,142}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>btnSound.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,1106},{113,109}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{113,109}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnSoundDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,1072},{101,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{101,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnSoundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,1101},{113,109}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{113,109}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnSoundOffDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,970},{101,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{101,101}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>btnSoundSlide.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1266},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnSoundSlideDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,568},{64,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnSoundSlideOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,134},{64,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnSoundSlideOffDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,386},{64,48}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btn_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,698},{60,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>btn_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,0},{68,54}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{68,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>helpWindow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,0},{684,454}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{684,454}}</string>
                <key>sourceSize</key>
                <string>{700,464}</string>
            </dict>
            <key>iconFacebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,1027},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>iconTwitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,803},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>iconWalktrough.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,1106},{79,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,74}}</string>
                <key>sourceSize</key>
                <string>{79,74}</string>
            </dict>
            <key>icon_upgrade_0.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1915,628},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>icon_upgrade_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{384,806},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>icon_upgrade_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{574,709},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>icon_upgrade_3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{574,580},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>icon_upgrade_4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{575,451},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>icon_upgrade_5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{575,322},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>improved_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,455},{240,246}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{240,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>levelFinishScreenBushRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,596},{266,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,262}}</string>
                <key>sourceSize</key>
                <string>{266,262}</string>
            </dict>
            <key>levelFinishScreenEyeBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,502},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>levelFinishScreenEyeYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1176},{89,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,66}}</string>
                <key>sourceSize</key>
                <string>{89,66}</string>
            </dict>
            <key>levelFinishScreenLeftPalm.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,455},{347,447}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,447}}</string>
                <key>sourceSize</key>
                <string>{347,447}</string>
            </dict>
            <key>levelFinishScreenPalmDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,702},{179,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,240}}</string>
                <key>sourceSize</key>
                <string>{179,240}</string>
            </dict>
            <key>levelFinishScreenRightPalm.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,189},{312,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,574}}</string>
                <key>sourceSize</key>
                <string>{312,574}</string>
            </dict>
            <key>levelFinishScreenTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,0},{595,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,470}}</string>
                <key>sourceSize</key>
                <string>{595,470}</string>
            </dict>
            <key>lightMarket.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1017},{163,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,158}}</string>
                <key>sourceSize</key>
                <string>{163,158}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{710,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,188}}</string>
                <key>sourceSize</key>
                <string>{710,188}</string>
            </dict>
            <key>pause_zzz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,471},{270,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{270,124}}</string>
                <key>sourceSize</key>
                <string>{272,128}</string>
            </dict>
            <key>pause_zzz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,471},{268,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{268,126}}</string>
                <key>sourceSize</key>
                <string>{272,128}</string>
            </dict>
            <key>slideLeftMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,806},{89,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,383}}</string>
                <key>sourceSize</key>
                <string>{89,383}</string>
            </dict>
            <key>star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1265},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,321},{52,64}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,820},{36,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{36,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,820},{20,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{20,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,451},{36,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{36,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,69},{54,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{54,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,598},{252,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{252,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>window_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,502},{512,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,303}}</string>
                <key>sourceSize</key>
                <string>{512,303}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gfx_gui-hd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27d9cf13179ea8c166fc766428dc448d$</string>
            <key>textureFileName</key>
            <string>gfx_gui-hd.png</string>
        </dict>
    </dict>
</plist>
