<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dino_zzzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,285},{170,123}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{170,123}}</string>
                <key>sourceSize</key>
                <string>{176,141}</string>
            </dict>
            <key>back_player_flayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{302,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{302,218}}</string>
                <key>sourceSize</key>
                <string>{320,218}</string>
            </dict>
            <key>btnBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,779},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnBackDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,772},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnBuy15Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,616},{88,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,53}}</string>
                <key>sourceSize</key>
                <string>{90,55}</string>
            </dict>
            <key>btnBuy15Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,500},{90,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,55}}</string>
                <key>sourceSize</key>
                <string>{90,55}</string>
            </dict>
            <key>btnBuy5Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,556},{88,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,53}}</string>
                <key>sourceSize</key>
                <string>{90,55}</string>
            </dict>
            <key>btnBuy5Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,569},{90,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,55}}</string>
                <key>sourceSize</key>
                <string>{90,55}</string>
            </dict>
            <key>btnBuyInfinityDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,551},{88,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,53}}</string>
                <key>sourceSize</key>
                <string>{90,55}</string>
            </dict>
            <key>btnBuyInfinityUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,560},{90,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,55}}</string>
                <key>sourceSize</key>
                <string>{90,55}</string>
            </dict>
            <key>btnGiftDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,495},{90,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,55}}</string>
                <key>sourceSize</key>
                <string>{90,55}</string>
            </dict>
            <key>btnGiftUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,504},{90,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,55}}</string>
                <key>sourceSize</key>
                <string>{90,55}</string>
            </dict>
            <key>btnLike_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,719},{52,52}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{52,52}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>btnLike_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,699},{56,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{56,54}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>btnMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,670},{56,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>btnMenuChecked.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,662},{56,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>btnMenuCheckedDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,777},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,50}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>btnMenuDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,710},{50,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{50,50}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>btnMusicOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,374},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>btnMusicOffDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,493},{37,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>btnMusicOffSlider.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,112},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btnMusicOffSliderDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,207},{32,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btnMusicOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,334},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>btnMusicOnDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,455},{37,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>btnMusicOnSlider.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,176},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btnMusicOnSliderDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,526},{30,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btnNo.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,670},{56,54}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{56,54}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>btnNoDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,742},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,50}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>btnOk.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,673},{56,54}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{56,54}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>btnOkDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,710},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,50}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>btnPause.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,607},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>btnPauseDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,569},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>btnPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,474},{106,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,94}}</string>
                <key>sourceSize</key>
                <string>{106,94}</string>
            </dict>
            <key>btnPlayDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,409},{106,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,94}}</string>
                <key>sourceSize</key>
                <string>{106,94}</string>
            </dict>
            <key>btnPlayPauseScreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,294},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>btnPlayPauseScreenDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,531},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>btnReset.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,79},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btnResetDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,238},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btnRestart.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,754},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnRestartDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,725},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnSetting.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,690},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnSettingChecked.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,605},{56,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>btnSettingCheckedDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,780},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,50}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>btnSettingDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,728},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnShop.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,339},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>btnShopDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,414},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>btnSound.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,417},{37,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>btnSoundDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,727},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnSoundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,299},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>btnSoundOffDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,379},{37,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>btnSoundSlide.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,46},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btnSoundSlideDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,145},{32,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btnSoundSlideOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,267},{32,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btnSoundSlideOffDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,528},{32,24}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btn_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,553},{31,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{31,31}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>btn_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,500},{33,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{33,27}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>exclamation_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,495},{30,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>gui_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,0},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>iconFacebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,259},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>iconTwitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,219},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>icon_upgrade_0.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{211,634},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_upgrade_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{89,605},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_upgrade_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{432,645},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_upgrade_3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{367,625},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_upgrade_4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{213,569},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_upgrade_5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{402,409},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>improved_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,372},{120,122}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{120,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>levelFinishScreenTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,46},{238,176}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{238,176}}</string>
                <key>sourceSize</key>
                <string>{256,202}</string>
            </dict>
            <key>pause_zzz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,437},{134,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{134,62}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>pause_zzz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,372},{134,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>slideLeftMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,0},{45,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,192}}</string>
                <key>sourceSize</key>
                <string>{45,192}</string>
            </dict>
            <key>star_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,610},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>window_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,219},{256,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,152}}</string>
                <key>sourceSize</key>
                <string>{256,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gfx_gui.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a9519edb4f218e8740dfbc1b2752e93$</string>
            <key>textureFileName</key>
            <string>gfx_gui.png</string>
        </dict>
    </dict>
</plist>
