<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb.png</key>
            <dict>
                <key>height</key>
                <integer>120</integer>
                <key>offsetX</key>
                <real>4</real>
                <key>offsetY</key>
                <real>4</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>114</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>430</integer>
            </dict>
            <key>bombfire.png</key>
            <dict>
                <key>height</key>
                <integer>108</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>112</integer>
                <key>x</key>
                <integer>380</integer>
                <key>y</key>
                <integer>332</integer>
            </dict>
            <key>bombmagnet_1.png</key>
            <dict>
                <key>height</key>
                <integer>118</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>5</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>124</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>310</integer>
            </dict>
            <key>bombmagnet_2.png</key>
            <dict>
                <key>height</key>
                <integer>118</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>5</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>124</integer>
                <key>x</key>
                <integer>132</integer>
                <key>y</key>
                <integer>260</integer>
            </dict>
            <key>bombtime_1.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>120</integer>
                <key>x</key>
                <integer>258</integer>
                <key>y</key>
                <integer>328</integer>
            </dict>
            <key>bombtime_2.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>126</integer>
                <key>x</key>
                <integer>300</integer>
                <key>y</key>
                <integer>198</integer>
            </dict>
            <key>bombtime_3.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>126</integer>
                <key>x</key>
                <integer>300</integer>
                <key>y</key>
                <integer>68</integer>
            </dict>
            <key>bonus_apocalypse.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>428</integer>
                <key>y</key>
                <integer>266</integer>
            </dict>
            <key>bonus_godmode.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>428</integer>
                <key>y</key>
                <integer>200</integer>
            </dict>
            <key>bonus_slowmotion.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>428</integer>
                <key>y</key>
                <integer>134</integer>
            </dict>
            <key>bonus_speed.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>428</integer>
                <key>y</key>
                <integer>68</integer>
            </dict>
            <key>boots_1.png</key>
            <dict>
                <key>height</key>
                <integer>36</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>98</integer>
                <key>x</key>
                <integer>224</integer>
                <key>y</key>
                <integer>660</integer>
            </dict>
            <key>boots_2.png</key>
            <dict>
                <key>height</key>
                <integer>40</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>98</integer>
                <key>x</key>
                <integer>340</integer>
                <key>y</key>
                <integer>646</integer>
            </dict>
            <key>boots_3.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>110</integer>
                <key>x</key>
                <integer>342</integer>
                <key>y</key>
                <integer>494</integer>
            </dict>
            <key>boots_4.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-7</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>112</integer>
                <key>x</key>
                <integer>380</integer>
                <key>y</key>
                <integer>442</integer>
            </dict>
            <key>boots_5.png</key>
            <dict>
                <key>height</key>
                <integer>52</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>118</integer>
                <key>x</key>
                <integer>128</integer>
                <key>y</key>
                <integer>380</integer>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>430</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>helmet_1.png</key>
            <dict>
                <key>height</key>
                <integer>54</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>92</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>754</integer>
            </dict>
            <key>helmet_2.png</key>
            <dict>
                <key>height</key>
                <integer>56</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>92</integer>
                <key>x</key>
                <integer>112</integer>
                <key>y</key>
                <integer>738</integer>
            </dict>
            <key>helmet_3.png</key>
            <dict>
                <key>height</key>
                <integer>60</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>92</integer>
                <key>x</key>
                <integer>224</integer>
                <key>y</key>
                <integer>698</integer>
            </dict>
            <key>helmet_4.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>96</integer>
                <key>x</key>
                <integer>324</integer>
                <key>y</key>
                <integer>688</integer>
            </dict>
            <key>helmet_5.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>300</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>mega_bomb.png</key>
            <dict>
                <key>height</key>
                <integer>176</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>180</integer>
                <key>originalWidth</key>
                <integer>180</integer>
                <key>width</key>
                <integer>166</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>player.png</key>
            <dict>
                <key>height</key>
                <integer>100</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>110</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>552</integer>
            </dict>
            <key>player_1.png</key>
            <dict>
                <key>height</key>
                <integer>98</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>108</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>654</integer>
            </dict>
            <key>player_2.png</key>
            <dict>
                <key>height</key>
                <integer>98</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>108</integer>
                <key>x</key>
                <integer>114</integer>
                <key>y</key>
                <integer>638</integer>
            </dict>
            <key>player_3.png</key>
            <dict>
                <key>height</key>
                <integer>98</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>108</integer>
                <key>x</key>
                <integer>230</integer>
                <key>y</key>
                <integer>560</integer>
            </dict>
            <key>player_bonus_apocalipsys.png</key>
            <dict>
                <key>height</key>
                <integer>100</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>110</integer>
                <key>x</key>
                <integer>118</integer>
                <key>y</key>
                <integer>536</integer>
            </dict>
            <key>player_sleep.png</key>
            <dict>
                <key>height</key>
                <integer>100</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>110</integer>
                <key>x</key>
                <integer>230</integer>
                <key>y</key>
                <integer>458</integer>
            </dict>
            <key>player_sleep_1.png</key>
            <dict>
                <key>height</key>
                <integer>98</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>108</integer>
                <key>x</key>
                <integer>342</integer>
                <key>y</key>
                <integer>546</integer>
            </dict>
            <key>player_speed.png</key>
            <dict>
                <key>height</key>
                <integer>100</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>110</integer>
                <key>x</key>
                <integer>118</integer>
                <key>y</key>
                <integer>434</integer>
            </dict>
            <key>playerglow.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>180</integer>
            </dict>
            <key>wall.png</key>
            <dict>
                <key>height</key>
                <integer>256</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>170</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>gfx_chars-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a095797d509bd33f19f22a8ba1971646$</string>
            <key>textureFileName</key>
            <string>gfx_chars-hd.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1024</integer>
            <key>width</key>
            <integer>512</integer>
        </dict>
    </dict>
</plist>
