<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>speedWallBackground_1.jpg</key>
            <dict>
                <key>height</key>
                <integer>240</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>240</integer>
                <key>originalWidth</key>
                <integer>160</integer>
                <key>width</key>
                <integer>160</integer>
                <key>x</key>
                <integer>1</integer>
                <key>y</key>
                <integer>1</integer>
            </dict>
            <key>speedWallBackground_2.jpg</key>
            <dict>
                <key>height</key>
                <integer>240</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>240</integer>
                <key>originalWidth</key>
                <integer>160</integer>
                <key>width</key>
                <integer>160</integer>
                <key>x</key>
                <integer>163</integer>
                <key>y</key>
                <integer>1</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>gfx_cells.jpg</string>
            <key>size</key>
            <string>{324,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51855fbbeabb330e6457c41d5023f90c$</string>
            <key>textureFileName</key>
            <string>gfx_cells.jpg</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>242</integer>
            <key>width</key>
            <integer>324</integer>
        </dict>
    </dict>
</plist>
